RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !^/(index\.php|images|img|assets|newdesign[^/]*|cache[^/]*)$
RewriteRule ^(.*)$ index.php?/$1 [L]